<!DOCTYPE html>
<html>
<head>
  <title>Tabular sorter</title>
  <%= stylesheet_link_tag    "tabular_sorter/application", media: "all" %>
  <%= javascript_include_tag "tabular_sorter/application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>
