table thead th.sort {
    cursor: pointer;
}

table thead th.sort:after {
    font-family: FontAwesome, serif;
    font-size: 16px;
    padding-left: 3px;
}

table thead th.sort.asc:after {
    content: '\f0d7';
}

table thead th.sort.desc:after {
    content: '\f0d8';
}
